#menu-items {
    color: blue;
    list-style: none;
    display: flex;
    gap: 20px;

}

.header {
    display: flex;
    justify-content: space-between;
}

.hello {
    color: red;
}

.hero-img img {
    width: 100%;
}

table {
    width: 100% !important;
    background: red;
    border-radius: 10px;


}

tr,
td {
    padding: 20px;
    background: #8f8a8a;
}

th {
    border-bottom: 2px solid black;
    padding: 20px;
    background: #f2f2f2;
}

.bhadra-group {
    /* background: rgb(46, 59, 71); */
    padding: 80px 0px 0px 0px;
}

.bhadra-group .container {
    background: black;
}

.bhadra-group h5 {
    color: #f2f2f2;
}

.pinapple img {
    width: 100%;
    padding: 20px
}
/* .pinapple{
    padding: 20px
} */
 .footer {
    padding: 80px 0px;
    background: olive;
 }
 .our-products{
    background: #65ab5a;
    padding: 80px 0px;
 }
 .title{
    text-align: center;
 }
 .our-products .card{
    margin-bottom: 25px;
 }
 .one{
    background: url(../images/pineapple.jpg);
    padding: 80px 0px ;
 }
 .one .card{
    margin-bottom: 25px;
 }
 .footer-para{
    font-family: 'Poppins';
    font-size: 16;
    font-weight: 600;
 }
 .footer ul li{
    list-style:  none;
 }
 .footer .fa{
    color: #fff;
 }
 @media only screen and (max-width: 1020px) {
    .hello{
        color: rgb(207, 241, 14);
        font-size: 40px;
    }
 }

 @media only screen and (max-width: 992px) {
    .hello{
        color: rgb(141, 197, 98);
        font-size: 40px;
    }
 }
 @media only screen and (max-width: 768px) {
    .hello{
        color: blue;
        font-size: 40px;
    }
    td{
        padding: 15px;
    }
 }